/*Declaracion variables*/
$base-background-color: #a3bd52;
$base-font-size: 14px;
$font-family: 'Lexend Deca', sans-serif; /* familia fuente */
$bloquecentral-background-color: white; 
$bloquecentral-margin: 10px 20px 10px 20px;
$bloquecentral-padding: 10px 10px 10px 10px;
$bloquecentral-display: inline-block; 
$bloquecentral-height: auto;
$bloquecentral-float: left;
$tabla-caracteristicas-border-style: solid;
$tabla-caracteristicas-border-color: gray;
$tabla-caracteristicas-text-align: center;
$tabla-caracteristicas-background-color: #28a7281f;
$tabla-caracteristicas-border-width: 1px;
$tabla-caracteristicas-padding: 5px;
$tabla-caracteristicas-font-family: 'Lexend Deca'; /* familia fuente */
$tabla-caracteristicas-font-size: 12px; /* tamaño fuente */
$base-width: 1024px;
$titulos-color: #5FA71F;
$titulos-color1: #ffffff;
/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0;
  margin: 0;
}
/*Caracteristicas: cuerpo, header y footer*/
body {
	font-size: $base-font-size;
	background-color: $base-background-color;
  font-family: $font-family; /* familia fuente */
  width: $base-width;
  height: auto;
}
header {
  background: rgba(0, 0, 0, 0.6);
  width: $base-width;
  margin-left: 25px;
  margin-right: 25px;
  position: fixed;
  z-index: 300;
}
footer {
  color: #ffffff;
  width: $base-width;
  padding-top: 10px;
  padding-bottom: 10px;
  position: static;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-size: 16px;
  z-index: 300;
  background-color: #D6842C;
  }
/*caracteristicas elementos tabla*/
table.caracteristicas{
	border-style: $tabla-caracteristicas-border-style;
	background-color: $tabla-caracteristicas-background-color;
	border-color: $tabla-caracteristicas-border-color;
	text-align: $tabla-caracteristicas-text-align;
  font-size: $tabla-caracteristicas-font-size;
  width: auto;
  }
  table.caracteristicas tbody{
  width: 95%;
  padding: 5px;
  margin: 10px;
  height: auto;
  border-width: $tabla-caracteristicas-border-width;
  border-spacing: 2px;
  border-style: $tabla-caracteristicas-border-style;
  border-color: $tabla-caracteristicas-border-color;
  background-color: $tabla-caracteristicas-background-color;
  margin: 25px;
  }
  table.caracteristicas td {
  border-width: $tabla-caracteristicas-border-width;
  padding: $tabla-caracteristicas-padding;
  border-style: $tabla-caracteristicas-border-style;
  border-color: $tabla-caracteristicas-border-color;
  background-color: $tabla-caracteristicas-background-color;
  margin: 5px;
  }
  table.caracteristicas tr {
  width: 500px;
  padding: $tabla-caracteristicas-padding;
  border-width: $tabla-caracteristicas-border-width;
  padding: $tabla-caracteristicas-padding;
  border-style: $tabla-caracteristicas-border-style;
  border-color: $tabla-caracteristicas-border-color;
  background-color: $tabla-caracteristicas-background-color;
  margin: 15px;
  }
 table.caracteristicas th {
  width: 500px;
  padding: $tabla-caracteristicas-padding;
  border-width: $tabla-caracteristicas-border-width;
  padding: $tabla-caracteristicas-padding;
  border-style: $tabla-caracteristicas-border-style;
  border-color: $tabla-caracteristicas-border-color;
  margin: auto;
  text-align: center;
  background-color: $tabla-caracteristicas-background-color;
  }
/* Barra de navegación */
.navbar {
  overflow: hidden;
  background-color: #D6842C;
  font-family: $font-family, sans-serif; /* familia fuente */
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #18690F;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #3ead47;
  width: 100%;
  z-index: 1;
}
.subnav-content-vertical {
  display: none;
  position: absolute;
  background-color: #3ead47;
}
.subnav-content a, .subnav-content-vertical a{
  float: left;
  color: white;
  text-decoration: none;
}
.subnav-content a:hover, .subnav-content-vertical a:hover {
  background-color: #eee;
  color: black;
}
.subnav:hover .subnav-content, .subnav:hover .subnav-content-vertical {
  display: block;
}
/*Efectos imagenes*/
.transition {
    width: 100px;
    height: 100px;
    background: #5FA71F;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.transition:hover{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.imagenal40 {
  transform: scale(0.45, 0.45); 
  border-radius: 50%;
}
.imagen2 {
  transform: rotate(20deg) scale(0.45, 0.45); 
}
.imagen3 {
  transform: rotate(-20deg) scale(0.45, 0.45); 
}
/*Agregamos margenes inferiores a los parrafos*/
p {
  margin-bottom: 20px;
}
/*ul {
  list-style: none;
}
nav {
  float: left; /* Desplazamos el nav hacia la izquierda 
}
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float 
  }
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  }
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding 
  padding: 15px;
  color: #fff;
  text-decoration: none;
  }
nav ul li:hover {
  background: #3ead47;
  }*/
form {
  margin: 15 15 15 15px;
  font-family: $font-family; 
  font-size: $base-font-size; 
  padding-left: 65px; padding-bottom: 25px; 
  background-color: #28a7281f; 
  margin-top: 15px;
  float: $bloquecentral-float;
  clear: right;
}
  
.contenido {
  width: 100%;
  background-image: url(imagenes/fondo.png); 

   }
.wrapper {
  width: 95%;
  margin: auto;
  overflow:hidden;
  }
.titulosh1 {
    background: $titulos-color; 
    color: #ffffff;
    font-size:24px; /* tamaño fuente */
    text-align: center; /* texto centrado */
    font-weight: bold;  /* texto negrita */
    font-family: $font-family; /* familia fuente */
    line-height: 35px; /* espaciado entre líneas */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    }
.fondomenu {
	 background-color: $titulos-color;
	 }	
.titulosh2 {
    color: $titulos-color1; /* color fuente*/
    font-size:20px; /* tamaño fuente */
    font-weight: bold;  /* texto negrita */
    font-style: italic; /* texto italica*/
    font-family: $font-family, sans-serif; /* familia fuente */
    line-height: 5px; /* espaciado entre líneas */
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 5px 0px 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    }
  .titulosh3 {
    color: $titulos-color1; /* color fuente*/
    font-size:16px; /* tamaño fuente */
    font-weight: bold;  /* texto negrita */
    font-style: italic; /* texto italica*/
    font-family: $font-family; /* familia fuente */
    line-height: 5px; /* espaciado entre líneas */
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    }
 .parrafos {
    color: #272729;
    font-size:12px; /* tamaño fuente */
    text-align: justify; /* alineación texto */
    letter-spacing: 1px; /* espaciado entre letras */
    line-height: 15px; /* espaciado entre líneas */
    font-family: $font-family; /* familia fuente */
    }
/* Contenedor central con dos columnas*/
.contenedor {
  background-color: #28a7281f; 
  margin: auto;
  text-align: center; 
  width: 95%px;
  align-content: center;
  height: auto;
  clear: left;
  }
.izquierda {
  background-color: $bloquecentral-background-color; 
  margin: $bloquecentral-margin;
  padding: $bloquecentral-padding;
  display: $bloquecentral-display; 
  width: 25%;
  height: $bloquecentral-height;
  float: $bloquecentral-float;
    }
.derecha {
  background-color: $bloquecentral-background-color; 
  margin: $bloquecentral-margin;
  padding: $bloquecentral-padding;
  display: $bloquecentral-display; 
  width: 60%;
  height: $bloquecentral-height;
  clear: right;
  }

